@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* 
 * *** Default Button ***
 */

button {
  /* Layout */
  padding: .5rem 1rem;

  /* Typography */
  color: #3f3f3f;
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;

  /* Skin */
  background-color: #e0e0e0;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
}

/* State skins */
button:active,
button:hover {
  background-color: #aeaeae;
}

button:focus {
  border: 1.5px solid #000; 
  outline: none;
}

/*
 * *** Outline Button ***
 */

 .btn-outline {
  background-color: transparent;
  border: 1px solid #3d5afe;
  box-shadow: none;
  color: #3d5afe;
 }

 .btn-outline:active,
 .btn-outline:hover {
  background-color: rgba(61, 90, 254, .2);
}